<div class="form-container">
    <h1> Registration Form </h1>
    <form #f="ngForm" novalidate (ngSubmit)="save(f.value, f.form.valid)">
        <!-- we will place our fields here -->
        <!--name-->
        <div class="form-group">
          <label class="fw-bold">Name</label>
          <!--bind name to ngModel, it's required with minimum 5 characters-->
          <input
            type="text"
            class="form-control"
            name="name"
            [(ngModel)]="user.name"
            #name="ngModel"
            required
            minlength="5"
            class="form-control"
          />
          <!--show error only when field is not valid & it's dirty or form submited-->
      
          <small [hidden]="name.valid || (name.pristine && !f.submitted)">
            Name is required (minimum 5 characters).
          </small>
        </div>
        <!--adrress group-->
      
        <div ngModelGroup="address">
          <!--street-->
      
          <div class="form-group">
            <label class="fw-bold">Street</label>
            <input
              type="text"
              name="street"
              [(ngModel)]="user.address.street"
              #street="ngModel"
              required
              class="form-control"
            />
      
            <small
              [hidden]="street.valid || (street.pristine && !f.submitted)"
              class="text-danger"
            >
              Street is required.
            </small>
          </div>
      
          <!--postcode-->
      
          <div class="form-group">
            <label class="fw-bold">Post code</label>
            <input
              type="text"
              name="postcode"
              [(ngModel)]="user.address.postcode"
              class="form-control"
            />
          </div>
        </div>

        <div class="form-group">
            <label for="designation">Designation</label>
            <input type="text" [(ngModel)]="user.designation" class="form-control" id="designation" placeholder="Manager" name="designation" ngModel>
        </div>
        Gender :
        <div class="form-check">
            <input [(ngModel)]="user.gender"  class="form-check-input" type="radio" name="Gender" id="male" value="Male" ngModel>
            <label class="form-check-label" for="male">
              Male
            </label>
        </div>
          <div class="form-check">
            <input [(ngModel)]="user.gender" class="form-check-input" type="radio" name="Gender" id="female" value="Female" ngModel>
            <label class="form-check-label" for="female">
              Female
            </label>
        </div>
        Courses :
        <select [(ngModel)]="user.course" class="form-control" name="Course" id="course" ngModel>
            <option value="Mean">MEAN</option>
            <option value="Mern">MERN</option>
            <option value="Devops">DEVOPS</option>
            <option value="GenAI">GEN AI</option>
        </select>
        <div class="form-group">
            <label for="remark">Remark</label>
            <textarea [(ngModel)]="user.remark" class="form-control" id="remark" name="remark" rows="4" cols="50" ngModel></textarea>
        </div>
        <button class="btn btn-success" type="submit">Submit</button>
      </form>
      
      <div class="container">
        <h4 class="text-success">Your Details</h4>
      
        <h5>Name: {{ f.value.name }}</h5>
      
        <h5>Address: {{ f.value.address.street }}</h5>
        <h5>Postcode: {{ f.value.address.postcode }}</h5>
        <h5>{{ f.value | json }}</h5>
      </div>
</div>
